# Remove this line first before doing anything
___________PLOX_______REMOVE_____THIS_____LINE__________=True

# Dapatkan ini dari https://my.telegram.org/
API_KEY = "26689028"
API_HASH = "34d0c2bd1992f199a8b8f9d5e01d5feb"

# Nama Default Kustom untuk .alive
ALIVE_NAME = soklin

# Dapatkan ini dengan menjalankan python3 string_session.py secara lokal
STRING_SESSION = "1BVtsOGoBu5xrQBnKiLmjyGmmp2fpXq5hDYDBvydAVbF5h6eOci290cyXR2YWW0V9eVeVRt6rsSP-_F35s3NfrRgb5v04n-ofDnkfkaU34_fwx7zW5vtwH4LJz_1q371wkdOUnM1Bu39bmFhmRxhjY1Ea-_9jKnIsWB6ghSm2XXw3eGkPMgNLH3KvIyC1HcyqWVlPWDOwF_U1fv-EWvtx480fyba5mNB-mCP5lfB-NgknbQcE3lkPq9G2WRt5uFbogwZLWEpjCZZdJt80HH9NyLft4-XobwpOyzxid55OC5PWoi83V2Iig-XUFsKmKo3GOLFTWz150Gb7jh6IakF8XdC_viQFFeg="

# Setel ini untuk mengaktifkan pembantu bot sebaris. dapatkan token dari @BotFather
BOT_TOKEN = "7515695303:AAHb99sSmQaZX2FCBB3LCvSF-NzSX4MvQjQ"
BOT_USERNAME = "@Idoyyyx_bot"

# ChatID untuk grup Log
# Tambahkan Tanda hubung atau Tanda Negatif sebelum ID
# Ini adalah bilangan bulat, Tolong jangan gunakan String
BOTLOG CHATID = # ini adalah bilangan bulat, jangan gunakan tanda kutip.

#  Database URL Kamu dapatkan dari https://www.elephantsql.com/
# Example: 'postgres://userbot:userbot@localhost:5432/userbot'
DATABASE_URL = ""

# Pengalihan Fitur Larangan Otomatis PM
PM_AUTO_BAN = False
